<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">    <!-- target默认是SYSTEM_ERR-->
            <!-- pattern 中详细参数见 http://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout-->
            <PatternLayout pattern="%d [%t] %highlight{%-5level} %logger{36} - %msg%mdc%n%throwable"/>
        </Console>
        <File name="fileLog" fileName="crawler.log" append="false">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%mdc%n%throwable"/>
        </File>
        <File name="UserCrawler" fileName="UserCrawler.log" append="false">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%mdc%n%throwable"/>
        </File>
        <File name="RepoCrawler" fileName="RepoCrawler.log" append="false">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%mdc%n%throwable"/>
        </File>
    </appenders>

    <loggers>
        <root level="warn">
            <AppenderRef ref="fileLog"/>
        </root>
        <!-- 自定义logger -->
        <Logger name="UserCrawler" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="UserCrawler"/>
        </Logger>
        <Logger name="RepoCrawler" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RepoCrawler"/>
        </Logger>
    </loggers>
</configuration>