<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">    <!-- target默认是SYSTEM_ERR-->
            <!-- pattern 中详细参数见 http://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout-->
            <PatternLayout pattern="%d [%t] %highlight{%-5level} %logger{36} - %msg%mdc%n%throwable"/>
        </Console>
        <File name="fileLog" fileName="crawler.log" append="false">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%mdc%n%throwable"/>
        </File>
    </appenders>

    <loggers>
        <root level="trace">
            <AppenderRef ref="fileLog"/>
        </root>
        <!-- 自定义其他logger -->
        <!--<Logger name="com.foo.Bar" level="trace" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
    </loggers>
</configuration>