<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Repo">

    <select id="getRepoById" resultType="Repo">
        SELECT * FROM repo WHERE id = #{id}
    </select>
    <select id="getRepoByName" resultType="Repo">
        SELECT * FROM repo WHERE name = #{name}
    </select>

    <select id="getMaxIdUser" resultType="User">
        SELECT * FROM user WHERE id = (SELECT MAX(owner_id) FROM repo)
    </select>

    <select id="getMaxOwnerId" resultType="int">
        SELECT MAX(owner_id) FROM repo
    </select>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO repo(id, name, owner_id, owner_login, language, fork, created_at, updated_at, pushed_at, size, stargazers_count, watchers_count, forks_count)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.name}, #{item.ownerId}, #{item.ownerLogin}, #{item.language}, #{item.fork}, #{item.createdAt}, #{item.updatedAt},
            #{item.pushedAt}, #{item.size}, #{item.stargazersCount}, #{item.watchersCount}, #{item.forksCount})
        </foreach>

    </insert>

</mapper>